body {
    margin: 0px;
    padding: 35px;
}
.contant {
    padding: 50px;
}
.hader {
    padding: 60px;
}
a {
    color: coral;
    
    font-weight: 700;
}
p {
    text-align: center;
}
footer {
    text-align: center;
}
.banner {
    padding-bottom: 20px;
}
