body {
    margin: 0px;
    padding: 50px;
}
.contant {
    padding: 70px;
}
.hader {
    padding: 60px;
}
.contant a {
    color: coral;
    text-align: center;
}
h3 {
    text-align: center;
}
footer {
    text-align: center;
}